<%= render 'calendar_bar' %>

<div id="budgetz" class="px-5 w-full flex bg-[#dbdbdb]">
  <div class='flex grow'>
    <%= render 'budget_desktop_table_cats' %>
    <%#= render 'budget_desktop_table', data: @previousData, date: @previous_date %>
    <%= render 'budget_desktop_table', data: @currentData, date: @given_date %>
    <%#= render 'budget_desktop_table', data: @futureData, date: @next_date %>
  </div>
</div>