<% provide(:title, "Reports") %>
<div class="grow min-w-0 bg-white">
  <div id="settings-header" class="px-4 py-2 flex justify-between bg-[#15323c]">
    <div class="m-auto text-white font-bold">Settings</div>
  </div>
</div>