<div class="grow bg-white">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th></th>
    </tr>
    <% vendors.each do |v| %>
      <tr>
        <td><%= v.id %></td>
        <td><%= v.name %></td>
        <td>
          <%= link_to 'Edit', edit_vendor_path(v), data: {action: "click->slideover#open", turbo_frame: 'slideover'} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>