<% provide(:title, "Accounts") %>
<div id="trx_box" class="grow shrink overflow-hidden flex flex-col">
  
  <%= render 'trx_index_table_mobile', trxes: @trxes %>
  <%#= render 'trx_index_table', trxes: @trxes %>

</div>  