<div id="category-table" class="px-4 table border bg-[#4a575e]">
  <div class="table-header-group">
    <div class="table-row text-[#aaacab]">
      <div class="table-cell align-bottom">Category</div>
      <div class="table-cell align-bottom text-center">Amount</div>
    </div>
  </div>
  <div id="category-table-rows" class="table-row-group">
    <% @categories.each do |key,value| %>
      <div class="table-row text-white">
        <div class="table-cell px-2 whitespace-nowrap "><%= key %></div>
        <div class="table-cell px-2 text-right"><%= number_to_currency(value, unit:"", delimiter: ",") %></div>
      </div>
    <% end %>
    <div class="table-row text-white">
      <div class="table-cell_px-2_whitespace-nowrap">Total</div>
      <div class="table-cell px-2 text-right"><%= number_to_currency(@categories_total, unit:"", delimiter: ",") %></div>
    </div>
  </div>
</div>