<div id="<%=dom_id account %>" class="pl-9 pr-2 flex justify-between hover:bg-[#12446a]">
  <%= link_to account.name, 
        edit_account_path(account), 
        data: { turbo_frame: 'modal' }, 
        class: "max-w-[50%] overflow-hidden text-ellipsis" %>
  <%= link_to presentableNum(account.balance), 
        trxes_path(account_id: account.id), 
        class: "#{'text-[#eda8aa]' if account.balance < 0 }" %>
</div>